body{
	margin-top:20px;
}
a, a input{
	text-decoration:none;
	cursor: pointer;
}
.menuDiv{
	border-right: 2px solid gray;
    float: left;
    margin-right: 15px;
    width: 130px;
}
.admin_logo{
	margin-left: 13px;
    width: 93px;
}
.admin_logo span{
	font-weight: bold;
}

.menu .admin-category{
	font-weight:bold;
}
.menu a{
	display:block;
	margin-left:15px;
}
.logout{
	margin-bottom:40px;
}
.boton-alta{
	margin-bottom:40px;
}
.content{
	float:left;
	width: 85%;
}

.admin-table{
	width:900px;
}
.tienda-table{
	
}

.center{
	text-align:center;
	margin-right: auto;
	margin-left:auto;
}
.admin-table th{
	text-align:left;
}
.admin-table tr{
	border-bottom: 1px solid;
}
.error-messages{
	color:red;
	font-size:14pt;
}