<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CasaCentralWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxArticulo</display-name>
    <servlet-name>AjaxArticulo</servlet-name>
    <servlet-class>uade.web.servlets.AjaxArticulo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxArticulo</servlet-name>
    <url-pattern>/AjaxArticulo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articulos</display-name>
    <servlet-name>Articulos</servlet-name>
    <servlet-class>uade.web.servlets.Articulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articulos</servlet-name>
    <url-pattern>/articulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoUploader</display-name>
    <servlet-name>PedidoUploader</servlet-name>
    <servlet-class>uade.web.servlets.PedidoUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoUploader</servlet-name>
    <url-pattern>/pedido-upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pedido</display-name>
    <servlet-name>Pedido</servlet-name>
    <servlet-class>uade.web.servlets.Pedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pedido</servlet-name>
    <url-pattern>/pedido</url-pattern>
  </servlet-mapping>
  <listener>
    <display-name>DataBaseInitializacionListener</display-name>
    <listener-class>uade.web.listener.DataBaseInitialization</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SolicitudDistribucion</display-name>
    <servlet-name>SolicitudDistribucion</servlet-name>
    <servlet-class>uade.web.servlets.SolicitudDistribucion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudDistribucion</servlet-name>
    <url-pattern>/solicitud</url-pattern>
  </servlet-mapping>
</web-app>